manifest {
    name            = 'negedia/viral_quantification'
    author          = """Vanessa Rainone"""
    homePage        = 'https://github.com/NEGEDIA'
    description     = """Completed"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.4'
    version         = '2.0'
}

includeConfig 'configs/params.config'
includeConfig 'configs/containers.config'
includeConfig 'configs/profile.config'
includeConfig 'configs/process.config'