profiles {

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    googlebatch {
        process.executor = "google-batch"
        google.project = "ngdx-nextflow"
        google.location = "europe-west1"
        google.batch.bootDiskSize = "10.GB"
        workDir = "gs://ngdx-scratch-west1/digitalrnaseq"
    }
    novaseqx {
        includeConfig 'configs/novaseqx.config'
    }
} 